* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1e1e1e;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

main section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

main section h1 {
    text-align: center;
}

main section ul {
    background: #333;
    height: 30rem;
    width: 720px;
    padding: 2rem;
    border-radius: .75rem;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

main section ul li {
    list-style: none;
}

main section form input {
    background: #333;
    color: #FFF;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

main section form input:focus-visible {
    outline: none;
    animation: boxShadow 3s infinite ease-in-out;
}

main section form button {
    background: #333;
    color: #FFF;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
}


@keyframes boxShadow {
    0% {
        box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.5);
        border: 0px solid red;
    }

    50% {
        box-shadow: 0 0 20px 3px rgba(255, 0, 0, 1);
        border: 1px solid red;
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.5);
        border: 0px solid red;
    }
}